body{
    background-color: rgb(55, 54, 56);
}




.cool{
    height: 10rem;
    width: 10rem;
    background-color: aqua;
    transition: background-color 1s;

}


.cool.red{
    background-color: crimson;
}


div{
    display: block;
}